<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>InferBlade::{{ model.name }}</title>
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/model.css') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
              crossorigin="anonymous">
        {% block head %}{% endblock %}
    </head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
                crossorigin="anonymous"></script>
        <div class="container-fluid">
            <h1>{{ model.name }}</h1>
            <div class="model-description">
                {% for description in model.description %}
                <p>{{ description }}</p>
                {% endfor %}
            </div>
            <div class="model-tags">
                {% for tag in model.tags %}
                <a class="badge rounded-pill text-bg-primary">{{ tag }}</a>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col">
                    <h2>Input</h2>
                    {% block input_section %}{% endblock %}
                </div>
                <div class="col">
                    <h2>Output</h2>
                    {% block output_section %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
